#blue{
    color:red;
}

#Azul{
    color: Azul;
}

#orange{
    color:orange;
}

#green{
    color:green;
}
 
.color-titel{
    font-weight:normal;
}

img{
    height: 200px;
    width:200px;
}